:root {
    --primary-text: lightblue;
    --secondary-text: lightgreen;
    --primary-background: #222222;
    --secondary-background: #000000;
    --hover-color: #d12df115;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--primary-text);
    background: var(--primary-background);
}

body > header {
    margin-bottom: 2rem;
}

#presentation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{

}

#logo{
    max-width: 20rem;
}

header{
    text-align: center;
}

main, footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* TABLEAU */

#tableau {
    border-collapse: collapse;
}

#tableau > thead > tr {
    background-color: var(--hover-color);
}


#tableau > #tablebody > tr:nth-child(2n+1){
    background-color: var(--secondary-background);
    color: var(--secondary-text);
}

#tableau > * > tr > * {
    border: 1px solid var(--primary-text);
    padding: 0.5rem 1rem;
}

fieldset{
    border: none;
}

#searchbar{
    border: 1px solid var(--primary-text);
    border-radius: .5rem;
    color: var(--primary-text);
    background-color: var(--secondary-background);
    padding: .5rem;

}

#searchbar:focus{
    background-color: var(--hover-color);
}